@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    color: #525252;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap:2rem;
    margin-top:3rem;
}

#title {
    font-size:2rem;
}

#pfp-container{
    width:6rem;
}

#pfp{
    width:100%;
    height:100%;
    object-fit: fill;
}

#text-content {
    display: flex;
    flex-direction: column;
    gap:1rem;
}