@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    color: #525252;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap:2rem;
    margin-top:3rem;
}

#title {
    font-size:2rem;
}

#pfp-container{
    width:6rem;
}

#pfp{
    width:100%;
    height:100%;
    object-fit: fill;
}

#text-content {
    display: flex;
    flex-direction: column;
    gap:1rem;
}

#main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap:2rem;
    margin-top:3rem;
}

#links {
    display: flex;
    flex-direction: row;
    gap:9rem;
}

#links a {
    color: #525252;
}

#links a:hover{
    color: #353535;
    cursor: pointer;
}

#links a.active{
    color: lightblue;
}

ul {
    padding-left:1.5rem;
}

li {
    margin-top:0.25rem;
    margin-bottom:0.25rem;
}