<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Rachel Huang</title>
    <script defer src="/_vercel/insights/script.js"></script>
</head>

<body>

<div id="header">
    <div id="pfp-container">
        <img src="{{url_for('static', filename='pfp.png')}}" id="pfp">
    </div>
    <div id="text-content">
        <div id="title">
            Rachel Huang
        </div>
        <div id="description">
            20 🇺🇸🇹🇼 • CS + Applied Math
        </div>
        <div id="description">
            Incoming Software Engineer @ Black Cape, Inc.
        </div>
    </div>
</div>
<div id="main-content">
    <div id="links">
        <a href="{{url_for('home')}}" class="{%if active_tab=='home'%}active{%endif%}">About</a>
        <a href="{{url_for('portfolio')}}" class="{%if active_tab=='portfolio'%}active{%endif%}">Portfolio</a>
        <a href="{{url_for('books')}}" class="{%if active_tab=='books'%}active{%endif%}">Reading List</a>
    </div>
</div>
<div id="main-content">
    <div>
        2025 Reading List
        <ul>
            <li>The Midnight Library*</li>
            <li>The Alchemist</li>
            <li>Americanah</li>
            <li>Annie John</li>
            <li>The River Between</li>
            <li>Moses Ascending</li>
            <li>Robinson Crusoe</li>
            <li>Heart of Darkness</li>
            <li>Things Fall Apart</li>
            <li>Can't Hurt Me: Master Your Mind and Defy the Odds</li>
            <li>Thunderhead</li>
            <li>Girl, Alone</li>
            <li>Scythe</li>
            <li>Lab Girl</li>
            <li>Coming Home Again</li>
            <li>Crying in H Mart</li>
            <li>No-No Boy</li>
            <li>Radio Silence</li>
            <li>Paper Towns</li>
        </ul>
    </div>
</div>

<footer>
    <div id="footer-content">
        Built with Flask and Vercel.
    </div>
    <div id="footer-content">
        © 2025 Rachel Huang
    </div>
</footer>

</body>
</html>