<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Rachel Huang</title>
    <script defer src="/_vercel/insights/script.js"></script>
</head>

<body>

<div id="header">
    <div id="pfp-container">
        <img src="{{url_for('static', filename='cafe.jpg')}}" id="pfp">
    </div>
    <div id="text-content">
        <div id="title">
            Rachel Huang
        </div>
        <div id="description">
            20 🇺🇸🇹🇼 • CS + Applied Math
        </div>
        <div id="description">
            Incoming Software Engineer @ Black Cape, Inc.
        </div>
    </div>
</div>
<div id="main-content">
    <div id="links">
        <a href="{{url_for('home')}}" class="{%if active_tab=='home'%}active{%endif%}">About</a>
        <a href="{{url_for('portfolio')}}" class="{%if active_tab=='portfolio'%}active{%endif%}">Portfolio</a>
        <a href="{{url_for('books')}}" class="{%if active_tab=='books'%}active{%endif%}">Reading List</a>
    </div>
</div>
<div id="main-content">
    <div>
        I am a computer science and applied math double major at William & Mary (2023-2026). After graduation,
        I will be working as a software engineer at Black Cape, Inc. in Arlington, Virginia.
    </div>
    <div>
        I am currently conducting quantum optimization research via a ZX-calculus and genetic programming approach, funded
        by NASA VSGC and Monroe Scholar scholarships. I also assist with SVBRDF graphics research, running model generation experiments.
    </div>
</div>

<footer>
    <div id="footer-content">
        Built with Flask and Vercel.
    </div>
    <div id="footer-content">
        © 2025 Rachel Huang
    </div>
</footer>

</body>
</html>