<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Rachel Huang</title>
    <script defer src="/_vercel/insights/script.js"></script>
</head>

<body>

<div id="header">
    <div id="pfp-container">
        <img src="../static/pfp.jpg" id="pfp">
    </div>
    <div id="text-content">
        <div id="title">
            Rachel Huang
        </div>
        <div id="description">
            20 🇺🇸🇹🇼 • CS + Applied Math
        </div>
        <div id="description">
            Incoming Software Engineer @ Black Cape, Inc.
        </div>
    </div>
</div>
<div id="main-content">
    <div id="links">
        <a href="{{url_for('home')}}" class="{%if active_tab=='home'%}active{%endif%}">About</a>
        <a href="{{url_for('portfolio')}}" class="{%if active_tab=='portfolio'%}active{%endif%}">Portfolio</a>
        <a href="{{url_for('books')}}" class="{%if active_tab=='books'%}active{%endif%}">Reading List</a>
    </div>
</div>
<div id="main-content">
    <a href="https://aiclubwm.com/opportunities">William & Mary Research Database Application</a>
    <div>• Designed with Figma, built with Svelte, and integrated with Firebase</div>
    <a href="https://tribe-research-collection-2025-hack.vercel.app/">The Tribe Research Collection - &Hacks 2025</a>
    <div>• Built with Firecrawl, Flask, and Vercel</div>
    <a href="https://www.sprint.dev/projects/331b0fa1-47f8-4f67-bdb2-931ca2e157cb">TransparentGPT - 3rd place @ Rebuild AI Hackathon 2025</a>
    <div>• Built with Langchain, Chainlit, Scikit-learn, and Revisions</div>
    <a href="https://rrachelhuangg.github.io/enigma/">The Enigma Machine</a>
    <div>• Built with React</div>
</div>
<div id="main-content">
    <div class="image-container">
        <img src="{{url_for('static', filename='monroe-poster.jpg')}}" id="research">
        <div class="overlay">
            <div class="overlay-text">Summer 2025 James Monroe Scholar Research Poster</div>
        </div>
    </div>
</div>
<div id="main-content">
    <div class="image-container">
        <img src="{{url_for('static', filename='research.jpg')}}" id="research">
        <div class="overlay">
            <div class="overlay-text">W&M 2025 Fall Undergraduate Research Symposium</div>
        </div>
    </div>
</div>
<div id="main-content">
    <div class="image-container">
        <img src="{{url_for('static', filename='club-meeting.jpeg')}}" id="research">
        <div class="overlay">
            <div class="overlay-text">2025 Opening Meeting of W&M AI Club as Head of Project Development</div>
        </div>
    </div>
</div>

<footer>
    <div id="footer-content">
        Built with Flask and Vercel.
    </div>
    <div id="footer-content">
        © 2025 Rachel Huang
    </div>
</footer>

</body>
</html>